body {
  background-color: rgb(27, 26, 26);
}

header {
  background-color: rgb(0, 115, 255);
  padding: 5px;
  color: rgb(191, 255, 0);
}

main {
  background-color: brown;
  width: 400px;
  margin: auto;
  padding: 10px;
  color: rgb(116, 178, 0);
}

footer {
  background-color: brown;
  color: black;
  padding: 10px;
  margin: auto;
  border: 1px solid black;
}

div {
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1px solid green;
  border: 5px solid black;
  border-radius: 15px;
  background-color: rgb(88, 88, 88);
}


.ad {
  background-color: aquamarine;
}

img {
  width: 100%;
}

#profile-picture {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

#profile-name {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid black;
  font-size: 20px;
}

h2 {
  color: #fffcf2;
  background-color: #403d39;
  text-align: center;
  font-size: 30px;
}
.Discord {
  background-color: aquamarine;
}
h3
